@import 'base';
@import 'fonts';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 300;
    font-size: 28px;
    user-select: none;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bgLight;
    width: 100%;
    height: 100%;
    transition: $baseTransition;
    &.switched {
        background-color: $bgDark;
    }
}

.mode-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    background-color: $darkGrey;
    color: $x2lightGrey;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    font-size: 16px;
    transition: $baseTransition;
    &.switched {
        transform: rotate(-180deg);
        background-color: $lightGrey;
    }
}

.calculator {
    box-shadow: 0 25px 60px -10px rgba(0, 0, 0, 0.5);
    border: 1px solid $darkGrey;
    border-radius: $baseRadius;
    overflow: hidden;
    cursor: pointer;

    .header {
        background-color: $darkGrey;

        .window {
            height: 15px;
            display: flex;
            justify-content: flex-start;
            padding: 10px;

            span {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
                cursor: pointer;

                &.red {
                    background-color: #ff5252;
                }

                &.yellow {
                    background-color: #f5a623;
                }

                &.green {
                    background-color: #73c21d;
                }
            }
        }

        .input {
            text-align: right;
            font-size: 38px;
            padding: 10px 30px;
            color: white;
            cursor: default;
        }
    }

    .keys {
        background: $darkGrey;
        font-size: 24px;

        .row {
            height: 70px;
            display: flex;
            flex-direction: row;
            gap: 1px;
            margin-bottom: 1px;

            &.last {
                margin: 0;
            }

            .key {
                position: relative;
                color: $white;
                height: 70px;
                width: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $baseTransition;

                &.orange {
                    background: $orange;
                }

                &.dark-grey {
                    background: $darkGrey;
                }

                &.base-grey {
                    background: $baseGrey;
                }

                &.light-grey {
                    background: $lightGrey;
                }

                &.double {
                    width: 161px;
                }

                &.tripple {
                    width: 242px
                }

                &:hover {
                    filter: brightness(90%);
                }

                .super-key {
                    position: relative;

                    span {
                        &.power {
                            scale: 0.5;
                            position: absolute;
                            top: -5px
                        }

                        &.root {
                            scale: 0.5;
                            position: absolute;
                            top: -12px;
                            left: -6px;
                        }
                    }
                }
            }
        }
    }
}